:root {
    --bodyColor: #ffca3d;
}

body {
    background-color: var(--bodyColor);
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bodyColor);
    backdrop-filter: blur(20px);
    z-index: -1;
}


.header{
    text-align: center;
    color: #282828;
}
.container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 8%;
    margin-top: 1%;
   
}
.do{
    background-color: lightgrey;
    border-radius: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.in-progress{
    background-color: #449190;
    border-radius: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.completed{
    background-color: #db1f02;
    border-radius: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.do:hover, .in-progress:hover, .completed:hover{
    transform: scale(1.05);
}
.input-todo{
    margin: 1%;
    flex: 3;
    height: 30px;
    border-radius: 5px;
    border: #449190 1px solid;
}
.add-button{
    height: 28px;
    border-radius: 4px;
    border: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.add-button:hover{
    background-color: #449190;
}
.todo{
    margin: 1%;
    padding-left: 0.4rem;
    flex: 3;
    color: #282828;
}
.remove-button, .edit-button, .status-button {
    margin-right: 1%;
    background-color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.5s ease, color 0.5s ease; 
}
.delete-icon{
    size: 1em;
    color: #db1f02;
    margin: 0.2rem;
    transition: color 0.5s ease; 
}
.edit-icon{
    size: 1em;
    color: #2c5e5d;
    margin: 0.2rem;
    transition: color 0.5s ease; 
}
.remove-button:hover{
    background-color: #db1f02;
}
.edit-button:hover{
    background-color: #2c5e5d;
}
.remove-button:hover svg, .edit-button:hover svg{
    color: white;
}
.status-icon {
    size: 1em;
    margin: 0.2rem;
    transition: color 0.5s ease;
}

 .check-button:hover {
    background-color: #db1f02;
}
.clock-button:hover{
    background-color: dodgerblue;
}
.status-button:hover .status-icon {
    color: white;
}
.check-icon{
    color: #db1f02;
}
.clock-icon{
    color: dodgerblue;
}
.todo.completed-status{
    text-decoration: line-through;
}
.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #198380; /* You can customize the color */
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

.fab:hover {
    background-color: #163231; /* Darker blue on hover */
}

.fab-icon {
    font-size: 24px; /* Size of the plus icon */
}
